/* Common Settings */
.font-m {
  font-family: 'Montserrat', sans-serif;
}

.padding-7-15 {
    padding: 7% 15%;
}

.text-bold {
    font-weight: 900;
}

/* Title Section */

body {
  font-weight: 400;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  color: #ffffff;
}

#title {
background-color:#ff4c68;
color: #ffffff;
}

.btn-download {
  margin: 10% 3% 5% 0;
}

.container-fluid {
padding: 3% 15%;
}

.navbar {
margin-bottom: 3rem;
font-size: 1.2rem;
font-weight: 100;
padding-left: 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  margin: 0 18px;
}

.title_img {
  width: 60%;
  transform: rotate(25deg);
  margin-left: 4rem;
}


/* Feature Section */

#features {
  text-align: center;
}

#features h3 {
  margin-top: 5%;
}

#features p {
  color: gray;
  font-size: 1.1rem;
}

.feature-icon {
  color: #ef8172;
}

.feature-icon:hover {
  color: #ff4c68;
}


/* Testimonials Section */

#testimonials {
  background-color: #ef8172;
  color: #ffffff;
  text-align: center;
}

#testimonials h2 {
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
}


/* Press Section */

#press {
  background-color: #ef8172;
  text-align: center;
}

.press-image {
  width: 13%;
  margin: 0 3% 7% 3%;
}


/* Pricing Section */

#pricing {
  text-align: center;
  margin-top: 7%;
}

#pricing h2 {
  font-size: 2rem;
}

#pricing h3 {
  font-size: 1.5rem;
}

#pricing p {
  color: #8f8f8f;
}

.card-deck {
  margin: 3% 5%;
}

.card-deck button {
  width: 90%;
  white-space: nowrap;
}

/* Call to Action Section */

#cta {
  text-align: center;
  background-color:#ff4c68;
  color: #ffffff;
}

#cta h3 {
  font-size: 2rem;
}

#cta button {
  margin: 3% 1%;
}

/* Footer Section */

#footer {
  text-align: center;
  margin: 5% 15%;
}

#footer a {
  color: #3870c9;
  margin: 0 1%;
}

#footer p {
    line-height: 50px;
}


/* Media Query */

@media only screen
  and (max-width: 991px) {
    h1 {
      text-align: center;
    }
    .col-lg-6 {
      text-align: center;
    }
    .card {
      margin-top: 20px;
    }
    .title_img {
      width: 50%;
      transform: rotate(0deg);
      position: static;
      margin: 20px auto;
    }
  }
